njuskalo_scraper/njuskalo_auto_listings.json
njuskalo_scraper/njuskalo_auto_listings.csv
Hyundai Santa Fe vozila - Hyundai Santa Fe oglasi - Njuškalo (7_28_2026 1：37：38 PM).html
Hyundai Santa Fe vozila - Hyundai Santa Fe oglasi - Njuškalo (7_28_2026 1：37：55 PM).html
